@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

body{
	padding: 0;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: #fdfdfd;
	font-family: 'Noto Sans JP', sans-serif;
}

/*Header Style*/
ul{
	list-style: none;
}
.header{
	background-color: #3a3d40;
	width: 100%;
	height: 94px;
	line-height: 94px;
	border-bottom: 5px solid #4a4d50;
}
.border{
	margin: 0 auto;
	width: 100%;
	color: #000;
}
.wrapper{
	padding: 0 15%;
}
.logo-box{
	float: left;
}
.logo{
	vertical-align: middle;
}

/*Navigation Styles*/

.navbar{
	display: flex;
	float: right;
	border-left: 1px solid #292c2d;
	border-right: 1px solid #3c3f41;
}
.nav-link{
	display: inline-block;
	height: 89px;
	text-decoration: none;
	border-left: 1px solid #3c3f41;
	border-right: 1px solid #292c2d;
	font-size: 12px;
	font-weight: 700;
	color: #d4d4d4;
	text-transform: uppercase;
	padding: 5px 20px 0 20px;
	transition: .3s linear  color, .3s linear background-color;
}
.nav-link:hover{
	background-color: #35373a;
	color: #7a9cb2;
}

/*Slyder*/

.slider{
	width: 100%;
	margin: 50px 0;
	position: relative;
}
.slider img{
	width: 100%;
}
.slider::before{
	content: "";
	cursor: pointer;
	position: absolute;
	left: 55px;
	top: calc(50% - 17.5px);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-size: contain;
	background: #e6e6e6 url(img/img-button-prev.png) no-repeat center center;
}
.slider::after{
	content: "";
	cursor: pointer;
	position: absolute;
	top: calc(50% - 17.5px);
	right: 55px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-size: contain;
	background: #e6e6e6 url(img/img-button-next.png) no-repeat center center;
	background-position: center;
}

/*Section and text under section name*/

section{
	margin: 50px 0;
	width: 100%;
}

.section-header{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 0;
}
.subheader{
	margin: 25px 0 35px 0;
	font-size: 20px;
	text-align: center;
	font-weight: 200;
}

/*Our Servises Tabs styles*/

.tabs{
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #c5c5c5;
}
.tabs-options{
	border: 1px solid #c5c5c5;
	font-size: 13px;
	width: 120px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	cursor: pointer;
	background-color: #f8f8f8;
}
.tabs .active{
	color: #6b99b6;
	background-color: #fdfdfd;
	border-bottom: 2px solid #fdfdfd;
	margin-bottom: -1px;
}

.tabs-content-wrap{
	margin: 30px 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.tabs-content-wrap img{
	width: 35%;
}
.tabs-text{
	width: 61%;
}

h5{
	font-size: 17px;
	margin: 0 0 17px 0;
}
.text-regular{
	font-family: 'Open Sans', sans-serif;
	margin: 13px 0;
}
.tabs-text p:nth-of-type(2){
	margin-top: 30px;
}

.tabs-text ul{
	padding: 0 0 0 21px;
}
.tabs-text ul li {
	position: relative;
}
.tabs-text ul li p {
	margin: 12px 0;
}

.tabs-text ul li:before{
	content: '';
	display: block;
	position: absolute;
	width: 12px;
	height: 10px;
	background: url(img/img-check-icon.png) no-repeat center center;
	background-size: cover;
	left: -21px;
	top: 7px;
}

/*Separator Line*/

.separator-line{
	width: 100%;
	height: 3px;
	background: url(img/line.png) repeat-x center center;
}

/*Latest Stuff*/

.section-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.section-content img{
	width: 32%;
}
.section-content img:nth-child(-n+3) {
	margin-bottom: 25px;
}

/*Latest Blog*/

.post-container{
	width: 48%;
	display: flex;
	justify-content: space-between;
}
.post-container:nth-child(n+3){
	margin-top: 45px;
	}
.post-content{
	width: calc(100% - 67px);
}
.post-date{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 55px;
	width: 55px;
	border-radius: 50%;
	color: #555;
	background-color: #ececec;
}
.post-day{
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}
.post-month{
	font-size: 10px;
	margin: -5px 0 0 0;
	text-transform: uppercase;
}
.post-info{
	margin: 13px 0 0 0;
	color: #6b99b6;
	font-size: 11px;
	font-family: 'Open Sans', sans-serif;
}
.post-info a{
	color: #6b99b6;
	text-decoration: none;
}


/*Our Customers*/

.customers{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 40px;
}
.customers img {
	width: 16.66%;
}

/*Footer*/

.footer{
	width: 100%;
}
.upper-footer{
	background-color: #3a3d40;
	width: 100%;
	border-top: 5px solid #2f3235;
	box-sizing: border-box;
}
.footer-separator-line{
	width: 100%;
	height: 3px;
	background: url(img/line.png) repeat-x center center;
	margin: 20px 0;
}
.upper-footer .wrapper{
	display: flex;
	justify-content: space-between;
	color: #e3e3e3;
}
.footer-content{
	width: 23%;
	padding: 40px 0;
}
.footer-content ul{
	padding: 0;
}
.footer-text{
	font-size: 14px;
	color: #e3e3e3;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.footer-text-regular{
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	color: #bfbfbf;
}

.footer-text-date{
	font-size: 11px;
	font-family: 'Open Sans', sans-serif;
	color: #787e84;
	margin: 20px 0 0 0;
}
.twitter-time{
	color: #82a6bd;
	text-decoration: none;
	cursor: pointer;
}
.under-footer{
	background-color: #2f3235;
	height: 72px;
	border-top: 1px solid #24272a;
}
.twitter p{
	position: relative;
	text-indent: 24px;
}
.twitter p:before{
	content: "";
	position: absolute;
	display: block;
	height: 13px;
	width: 16px;
	top: 2px;
	background: url(img/img-icon-twitter.png) no-repeat center center;
}
.about-me p:nth-of-type(2){
	margin-top: 40px;
}
.footer-form{
	display: flex;
	flex-direction: column;
}
.footer-form input{
	width: 220px;
	height: 35px;
	background-color: #282b2d;
	border-style: none;
	font: 13px 'Open Sans', sans-serif;
	color: #e3e3e3;
	margin-bottom: 10px;
}
textarea{
	width: 220px;
	height: 140px;
	background-color: #282b2d;
	border-style: none;
	font: 13px 'Open Sans', sans-serif;
	color: #e3e3e3;
	resize: none;
	overflow: auto;
	margin-bottom: 10px;
}
textarea:focus{
	outline: 1px solid #63859b;
}
.footer-form input:focus{
	outline: 1px solid #63859b;
}
input.submit{
	width: 110px;
	height: 30px;
	font: 16px 'Open Sans', sans-serif;
	border-radius: 3px;
	background: rgb(118,148,167);
background: linear-gradient(180deg, rgba(118,148,167,1) 0%, rgba(118,148,167,1) 38%, rgba(89,118,137,1) 100%);
	cursor: pointer;
}

.under-footer .wrapper{
	height: 72px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #a3a3a4;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.copyright a{
	color: #82a6bd;
	text-decoration: none;
}
.social{
	margin-left: 5px;
}
