@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');
body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}
.header{
	box-sizing: border-box;
	background-color: #3a3d40;
	height: 94px;
	line-height: 94px;
	border-bottom: 5px solid #4a4d50;
}
.border{
	margin: 0;
	width: 100%;
	color: #000; 
}
.wrapper{
	padding: 0 10%;
}
.logo-box{
	float: left;
}
.logo{
	vertical-align: middle;
}
.navbar{
	display: flex;
	float: right;
	border-left: 1px solid #292c2d;
	border-right: 1px solid #3c3f41;
}
.nav-link{
	display: inline-block;
	box-sizing: border-box;
	height: 89px;
	text-decoration: none;
	border-left: 1px solid #3c3f41;
	border-right: 1px solid #292c2d;
	font-size: 12px;
	font-weight: 700;
	color: #d4d4d4;
	text-transform: uppercase;
	padding: 5px 20px 0 20px;
	transition: .3s linear  color, .3s linear background-color;
}
.nav-link:hover{
	background-color: #35373a;
	color: #7a9cb2;
}
.slider{
	width: 100%;
	margin: 50px 0px;
	position: relative;
}
.slider img{
	width: 100%;
}
.slider::before{
	content: "";
	position: absolute;
	left: 55px;
	top: calc(50% - 17.5px);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-size: contain;
	background: #e6e6e6 url(img/img-button-prev.png) no-repeat center center;
}
.slider::after{
	content: "";
	position: absolute;
	top: calc(50% - 17.5px);
	right: 55px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-size: contain;
	background: #e6e6e6 url(img/img-button-next.png) no-repeat center center;
	background-position: center;
}

.section-header{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.subheader{
	font-size: 20px;
	text-align: center;
}
.tabs-content-wrap{
	display: flex;
	justify-content: space-between;
}
.tabs-content-wrap img{
	width: 35%;
}
.tabs-content-wrap div{
	width: 61%;
}
.section-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.section-content img{
	width: 32%;
}
.customers{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.customers img {
	width: 15%;
}
}
.upper-footer{
	height: 390px;
	background-color: #3a3d40;

}
.under-footer{
	height: 70px;
	background-color: #2f3235;
}